/* COMMON */

:root {
  --color1: #DFFF00;
  --color2: #FFBF00;
  --color3: #FF7F50;
  --color4: #DE3163;
  --color5: #9FE2BF;
  --color6: #40E0D0;
  --color7: #6495ED;
  --color8: #CCCCFF;
}

body {
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  /* 통상적 기본세팅 줄 높이 */
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: black;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

.clearfix:after {
  display: table;
  content: '';
  clear: both;
}


/* HEADER */

header {
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
}

header>.inner {
  /* width: 1100px; */
  height: 120px;
  /* relative -> 기준 대상 */
  /* position: relative; */
  /* 위아래 0 양옆 자동정렬 가운데 */
  /* margin: 0 auto; */
  /* background-color: orange; */
}

header .logo {
  /* 높이를 명시 해주어야함 */
  height: 75px;
  /* absolute -> 변환 대상 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

header .sub-menu {
  display: flex;
  position: absolute;
  top: 10px;
  right: 0;
}

header .sub-menu .person {
  height: 38px;
  display: flex;
}

header .sub-menu .person p {
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .sub-menu .person button {}

header .sub-menu ul.menu {
  display: flex;
  font-family: Arial, sans-serif;
}

header .sub-menu ul.menu li {
  position: relative;
}

header .sub-menu ul.menu li::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
}

header .sub-menu ul.menu li:first-child::before {
  display: none;
}

header .sub-menu ul.menu li a {
  display: block;
  font-size: 12px;
  padding: 11px 16px;
  color: #656565;
}

header .sub-menu ul.menu li a:hover {
  color: #000000;
}

header .sub-menu .search {
  /* background-color: red; */
  height: 34px;
  position: relative;
}

header .sub-menu .search input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
  color: #777777;
  font-size: 12px;
  transition: width 0.4s;
}

header .sub-menu .search input:focus {
  width: 190px;
  border-color: #669900;
}

header .sub-menu .search .material-icons {
  /* material icon 세로 크기 24px */
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  transition: 0.4s;
}

header .sub-menu .search.focused .material-icons {
  opacity: 0;
}

header .main-menu {
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}

header .main-menu .item {}

header .main-menu .item .item__name {
  padding: 10px 20px 34px 20px;
  font-family: Arial, sans-serif;
  font-size: 13px;
}

header .main-menu .item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item .item__contants {
  width: 100%;
  position: fixed;
  left: 0;
  display: none;
}

header .main-menu .item:hover .item__contants {
  display: block;
}

header .main-menu .item .item__contants .contants__menu {
  background-color: #2c2a29;
}


/* 부모 밑에 ul이 많기 때문에 자식 선택자로 이용 */

header .main-menu .item .item__contants .contants__menu>ul.inner {
  display: flex;
  padding: 20px 0;
}

header .main-menu .item .item__contants .contants__menu>ul.inner>li {
  width: 220px;
}

header .main-menu .item .item__contants .contants__menu>ul.inner>li h4 {
  padding: 3px 0 12px 0;
  font-size: 14px;
  color: #fff;
}

header .main-menu .item .item__contants .contants__menu>ul.inner>li ul {}

header .main-menu .item .item__contants .contants__menu>ul.inner>li ul li {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__contants .contants__menu>ul.inner>li ul li a {
  padding: 5px 0;
  font-size: 12px;
  color: #999;
}

header .main-menu .item .item__contants .contants__menu>ul.inner>li ul li a:hover {
  color: #669900;
}

header .main-menu .item .item__contants .contants__menu>ul.inner>li ul li:hover {
  color: #669900;
}

header .main-menu .item .item__contants .contants__texture {
  padding: 26px 0;
  font-size: 12px;
  background-image: url('../images/main_menu_pattern.jpg');
}

header .main-menu .item .item__contants .contants__texture a {
  display: block;
  width: 100%;
  height: 100%;
}

header .main-menu .item .item__contants .contants__texture h4 {
  color: #999;
  font-weight: 700;
}

header .main-menu .item .item__contants .contants__texture p {
  color: #669900;
  margin: 4px 0 14px;
}

#main-content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #CCCCFF;
}

/* map-container플렉스 레이아웃으로 변경 */
#main-content .map-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 70%;
  margin: 2em 0;
  background: #327aff;
}


#main-content .map-container .map-header {
  margin-bottom: 2rem;
  text-align: center;
}

#main-content .map-container .map-header .main-txt {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 200;
}

@media only screen and (max-width: 1100px) {
  #main-content .map-container .map-header .main-txt {
    font-size: 1.5rem;
  }
}

#main-content .map-container .map-header p {
  font-size: 1rem;
}

#main-content .map-container .map_img {
  width: 40%;
  height: 20%;
  margin: 0 auto;

}

#main-content .map-container #map {
  margin-top: 12%;
  margin-left: 15%;

  justify-content: center;
  align-items: center;
  border-radius: 20px;
  width: 70%;
  height: 50%;
}



/* map */

[class *='area']:hover {
  fill: #7dfa7b;
}

.board {
  position: absolute;
  left: 50px;
  bottom: 40px;
  width: 200px;
  height: 150px;
  margin-left: -144px;
  text-align: left;
  
  /*border: 1px solid rgb(182, 182, 182);*/
}

.board .name {
  width: 200px;
  height: 50px;
  border-bottom: 1px solid rgb(179, 179, 179);
  border-radius: 5px;
  background-color: rgb(173, 173, 173);
  
  border: 1px solid rgb(141, 141, 141);

  font-weight: bold;
  
  text-align: left;
  white-space: normal;
}

.board .name .name_board{
  position: absolute;
  width: 170px;
  top: 12px;
  left: 5px;
  font-size: 18px;
  
}

.board .name .close {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #888;
  width: 17px;
  height: 17px;
  background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}

.board .name .close:hover {
  cursor: pointer;
}

.board .info {
  width: 200px;
  height: 100px;
  border-left: 1px solid rgb(218, 218, 218);
  border-right: 1px solid rgb(218, 218, 218);
  border-bottom: 1px solid rgb(218, 218, 218);
  border-radius: 7px;
  background-color: rgb(255, 255, 255);

  
  white-space: normal;

  display: flex;
  flex-direction: column;
}

.board .info .info_address{
  margin-top: 10px;
  margin-left: 2px;
  color: rgb(99, 99, 99);
  font-weight: bold;
  font-size: 15px;
}

.board .info .info_phone{
  margin-top: 10px;
  margin-left: 5px;
  color: rgb(21, 161, 255);
  font-size: 12px;
}


/* //map */

#main-content .map-container .map-search-btn {
  display: block;
  width: 25%;
  margin: 2rem auto;
  padding: 0.5em;
  border: 0;
  border-radius: 30px;
  color: white;
  text-align: center;
  background: #1cb1c9;
}

#main-footer {
  width: 100%;
  height: 100px;
  background: #eeeeee;
}

#main-footer .copy {
  width: 80%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  float: left;
}

#main-footer .sns {
  width: 20%;
  height: 100px;
  float: left;
}

#main-footer .sns ul {
  width: 100%;
  height: 100%;
}

#main-footer .sns ul li {
  width: 100%;
  height: 30px;
  margin: 2px 0;
  line-height: 30px;
  text-align: center;
  background: #40E0D0;
}

#main-footer .sns ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

#main-footer .sns ul li:hover {
  opacity: 0.8;
}