:root {
    --color1: #DFFF00;
    --color2: #FFBF00;
    --color3: #FF7F50;
    --color4: #DE3163;
    --color5: #9FE2BF;
    --color6: #40E0D0;
    --color7: #6495ED;
    --color8: #CCCCFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix:after {
    display: table;
    content: '';
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
    height: auto;
}

html {
    height: 100%;
}

.wrap {
    width: 90%;
    margin: 0 auto;
}

#main-header {

    width: 100%;
    height: 80px;
    background: #DFFF00;
    position: relative;
    z-index: 10;
}

#main-header .grid {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

#main-header .logo {
    display: block;
    width: 200px;
    height: 40px;
    margin: 10px 0;
    float: left;
}

#main-header .person {
    width: 300px;
    height: 20px;
    margin-top: 20px;
    float: right;
}
#main-header .person p{
    width: 200px;
    float: left;
}
#main-header .person .logout{
    width: 100px;
float: left;
}
#main-nav {
    width: 100%;
    height: 52px;

    background: green;
}

#main-nav .main-menu{
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
    border: 1px solid #ccc;

}
#main-nav .main-menu>li{
    width: 25%;
    height: 100%;
    float: left;
    position: relative;

}
#main-nav .main-menu>li:hover>a{
    background: #1BBC9B;
}
#main-nav .main-menu>li>a{
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 45px;
}
#main-nav .main-menu>li>.sub-menu{
    display: none;
    width: 100%;
    height: 80px;
    line-height: 40px;


    background: #ffffff;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
#main-nav .main-menu>li>.sub-menu>li{
    width: 100%;
    height: 40px;
}
#main-nav .main-menu>li>.sub-menu>li:hover>a{
    background: #9FE2BF;
}
#main-nav .main-menu>li>.sub-menu>li>a{
    display: block;
    width: 100%;
    height: 100%;
}

#main-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #CCCCFF;
}

#main-content .map-container {
    display: block;
    width: 70%;
    height: 70%;
    margin: 2em 0;
    background: #FF7F50;

}

#main-content .map-container .map-header {
    margin-bottom: 2rem;
    text-align: center;

}

#main-content .map-container .map-header .main-txt {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
}

#main-content .map-container .map-header p {
    font-size: 1rem;
}

#main-content .map-container .map {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    background: #9FE2BF;
}

#main-content .map-container .map-search-btn {
    display: block;
    width: 25%;
    margin: 2rem auto;
    padding: 0.5em;
    border: 0;
    border-radius: 30px;
    color: white;
    text-align: center;
    background: #1cb1c9;
}

#main-footer {
    width: 100%;
    height: 100px;
    background: #eeeeee;
}

#main-footer .copy {
    width: 80%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    float: left;
}

#main-footer .sns {
    width: 20%;
    height: 100px;
    float: left;
}

#main-footer .sns ul {
    width: 100%;
    height: 100%;
}

#main-footer .sns ul li {
    width: 100%;
    height: 30px;
    margin: 2px 0;
    line-height: 30px;
    text-align: center;
    background: #40E0D0;
}

#main-footer .sns ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

#main-footer .sns ul li:hover {
    opacity: 0.8;
}