.area1:hover{
    fill: #7dfa7b;
}
.area2:hover{
    fill: #7dfa7b;
}
.area3:hover{
    fill: #7dfa7b;
}
.area4:hover{
    fill: #7dfa7b;
}
.area5:hover{
    fill: #7dfa7b;
}
.area6:hover{
    fill: #7dfa7b;
}
.area7:hover{
    fill: #7dfa7b;
}
.area8:hover{
    fill: #7dfa7b;
}
.area9:hover{
    fill: #7dfa7b;
}
.area10:hover{
    fill: #7dfa7b;
}
.area11:hover{
    fill: #7dfa7b;
}
.area12:hover{
    fill: #7dfa7b;
}
.area13:hover{
    fill: #7dfa7b;
}