:root {
    --color1: #DFFF00;
    --color2: #FFBF00;
    --color3: #FF7F50;
    --color4: #DE3163;
    --color5: #9FE2BF;
    --color6: #40E0D0;
    --color7: #6495ED;
    --color8: #CCCCFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 11px;
}

html{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
body{
    width: 45%;
    border: 1px solid black;
}
.clearfix:after {
    display: table;
    content: '';
    clear: both;
}
input{
    border: 1px solid black;
    border-radius:3px ;
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

.wrap{
    padding: 10px;
}

div{
    padding-top: 3px;
    padding-bottom: 8px;
}
.title{
    text-align: center;
    font-weight: 700;
}

.nicname input{
    width: 100%;
}
.id input{
    width: 100%;
}
.password input {
    width: 100%;
}

.passwordCheck input {
    width: 100%;
}


.signUp button {
    width: 100%;
    cursor:pointer;
}

button{
    cursor: pointer;
    height: 30px;
}






