* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.m_text {
  font-size: 14px;
  font-weight: bold;
}

.board-wrap {
  width: 1000px;
  margin: 100px auto;
}

header {}

.board-title {
  margin-top: 200px;
  margin-bottom: 30px;
}

.board-title strong {
  font-size: 3rem;
}

.board-title strong a {
  display: block;
  width: 100%;
  height: 100%;
}

.board-title p {
  margin-top: 5px;
  font-size: 1.4rem;
}

.board-list {
  width: 100%;
  border-top: 2px solid black;
}

.board-list .top .title {
  text-align: center;
}

.board-list>.top>div {
  font-weight: 600;
}

.board-list .number,
.board-list .writer {
  width: 10%;
}

.board-list .count {
  width: 5%;
}

.board-list .date {
  width: 20%;
}

.board-list .title {
  width: 55%;
  text-align: left;
}

.board-list>div {
  font-size: 0;
  border-bottom: 1px solid #ddd;
}

.board-list>div.top {
  border-bottom: 1px solid #999;
}

.board-list>div:last-child {
  border-bottom: 1px solid #000;
}

.board-list>div>div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 1.4rem;
}

.board-page {
  margin-top: 30px;
  text-align: center;
  /* 사이에 여백을 없애줌 inline-black */
  font-size: 0;
}

.board-page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-left: 0;
  line-height: 100%;
}

.board-page a:first-child {
  border-left: 1px solid #ddd;
}

.board-page a.bt {
  padding-top: 10px;
  font-size: 1.2rem;
  letter-spacing: -1px;
}

.board-page a.num {
  padding-top: 9px;
  font-size: 1.4rem;
}

.board-page a.num.on {
  border-color: #000;
  background: #000;
  color: #fff;
}


.btn {
  margin-top: 30px;
  font-size: 0;
  text-align: center;
}

.btn a:first-child {
  margin-left: 0;
}

.btn a {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 1.4rem;
}

.btn a.on {
  background: black;
  color: white;
}

#submitBtn {
  width: 120px;
  height: 40px;
  color: #fff;
  background: black;
  font-size: 1.4rem;
  border: none;

  box-shadow: 0 4px 16px rgba(0, 79, 255, 0.3);
  transition: 0.3s;


}

#submitBtn:focus {
  outline: 0;
}

#submitBtn:hover {
  background: rgba(0, 79, 255, 0.9);
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 79, 255, 0.6);
}



/* view */

.board-view {
  width: 100%;
  border-top: 2px solid #000;
}

.board-view .title {
  padding: 20px 15px;
  border-bottom: 1px dashed #ddd;
  font-size: 2rem;
}

.board-view .info {
  padding: 15px;
  border-bottom: 1px solid #999;
  font-size: 0;
}

.board-view .info dl:first-child {
  padding-left: 0;
}

.board-view .info dl {
  position: relative;
  display: inline-block;
  padding: 0 20px;
}

.board-view .info dl::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0;
  display: block;
  width: 1px;
  height: 13px;
  background: #ddd;
}

.board-view .info dl:first-child::before {
  display: none;
}

.board-view .info dt,
.board-view .info dd {
  display: inline-block;
  font-size: 1.4rem;
}

.board-view .info dt {}

.board-view .info dd {
  margin-left: 10px;
  color: #777;
}

.board-view .contents {
  padding: 15px;
  border-bottom: 1px solid #000;
  line-height: 160%;
  font-size: 1.4rem;
}

.board-view .write-comment {

  font: 14px;
}

.board-view #comment-box {
  display: inline-block;
  width: 500px;
  height: 100%;
}

#commentbtn {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 1.4rem;
}

.contents {
  /* width: 614px; */
  /*height: 500px;*/
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 3px;
  /* margin-bottom: 60px; */
  background: white;
  margin-bottom: 10px;
}

.comment_field {
  min-height: 56px;
  padding: 0 20px;
  position: relative;
  border: 1px solid black;
}

.comment_field input {
  width: 100%;
  height: 56px;
  border: none;
  outline: none;
  background: transparent;
}

.comment_field input:focus~.upload_btn {
  pointer-events: initial;
  opacity: 1;
}

.comment_field .upload_btn {
  color: #3897f0;
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  /* pointer-events: none; */
  opacity: 0.6;
}

/* write */

.board-write {
  border-top: 2px solid #000;
}

.board-write .title dt,
.board-write .title dd,
.board-write .info dt,
.board-write .info dd {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.4rem;
}

.board-write .title,
.board-write .info {
  padding: 15px;
}

.board-write .title dt,
.board-write .info dt {
  width: 100px;
}

.board-write .title dl {
  font-size: 0;
}

.board-write .title dd {
  width: calc(100% - 100px);
}

.board-write .title input[type="text"],
.board-write .info input[type="text"],
.board-write .info input[type="password"] {
  padding: 10px;
  box-sizing: border-box;
}

.board-write .title input[type="text"] {
  width: 80%;
}

.board-write .info {
  border-top: 1px dashed #fff;
  border-bottom: 1px solid #000;
  /* 글쓴이와 비밀번호 사이의 공백을 삭제 font-size를 0 */
  font-size: 0;
}

.board-write .info dl {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
}

.board-write .contents {
  border-bottom: 1px solid #000;
}

.board-write .contents textarea {
  display: block;
  width: 100%;
  height: 300px;
  padding: 15px;
  box-sizing: border-box;
  border: 0;
  resize: vertical;
}