/* COMMON */
* {
  padding: 0;
  margin: 0;
}

body {
  font-size: 20px;
  font-family: "맑은고딕";
  color: #222328;
  background-color: #fff;
}

img {
  vertical-align: top;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

/* 커스텀 */

.wrap {
  width: 1000px;
  margin: 0 auto;
}

header {
  float: left;
}

header .top {
  width: 200px;
  height: 650px;
}

header .top .logo {
  width: 200px;
  height: 40px;
  margin: 30px 0 30px 0;
  float: left;
}

header .top .logo a {
  display: block;
  width: 100%;
  height: 100%;
}

header .top .menu {
  width: 180px;
  top: 100px;
  text-align: center;

}

header .top .menu .main-menu>li {
  float: left;
  width: 180px;

}

header .top .menu .main-menu>li>a {
  display: block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  background-color: #222328;
  color: #ffffff;
}

header .top .menu .main-menu>li>a:hover {
  background-color: #930930;
  color: #ffff00;
}

header .top .menu .main-menu>li .sub-menu {
  float: left;
  display: none;
  width: 180px;

}


header .top .menu .main-menu>li .sub-menu li a {
  display: block;
  width: 180px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-weight: bold;
  background-color: #cccccc;
  color: #ffffff;
}

header .top .menu .main-menu>li .sub-menu li a:hover {
  background-color: #999999;
  color: #ffff00;
}



.contents {
  width: 800px;
  /* height: 200px; */
  float: right;
}

.contents header {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  /* background-color: blue; */
}

.contents .con-menu {
  width: 800px;
  margin-bottom: 500px;
  float: left;
  position: relative;
  /* float: right; */
}

.contents .con-menu li {
  margin: 10px;
  /* background-color: #40E0D0; */
}

.contents .con-menu li a {
  width: 350px;
  height: 40px;
  margin-top: 20px;
  margin-right: 40px;
  /* margin-bottom: 140px; */
  line-height: 40px;
  text-align: center;
  /* background-color: #40E0D0; */
  float: left;
  position: relative;
  z-index: 2;

}

.contents .con-menu li a:hover {
  background-color: #930930;
  opacity: 0.8;
}

#main-footer {
  width: 100%;
  height: 100px;

  background: #eeeeee;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99;
}

#main-footer .copy {
  width: 80%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  float: left;
}

#main-footer .sns {
  width: 20%;
  height: 100px;
  float: left;
}

#main-footer .sns ul {
  width: 100%;
  height: 100%;
}

#main-footer .sns ul li {
  width: 100%;
  height: 30px;
  margin: 2px 0;
  line-height: 30px;
  text-align: center;
  background: #40E0D0;
}

#main-footer .sns ul li a {
  display: block;
  width: 100%;
  height: 100%;
}

#main-footer .sns ul li:hover {
  opacity: 0.8;
}