@media (max-width: 1000px) {
    .board-wrap {
        width: 100%;
        min-width: 320px;
        padding: 0 30px;
        box-sizing: border-box;
    }
    .board-list .num,
    .board-list .writer,
    .board-list .count {
        display: none;
    }
    .board-list .date {
        width: 40%;
    }
    .board-list .title {
        text-indent: 10px;
    }
    .board-list .top .title {
        text-indent: 0;
    }
    .board-page a {
        width: 26px;
        height: 26px;
    }
    .board-page a.bt {
        padding-top: 7px;
    }
    .board-page a.num {
        padding-top: 6px;
    }
    .board-view .info dl {
        width: 50%;
        padding: 0;
    }
    .board-view .info dl:nth-child(-n+2) {
        margin-bottom: 5px;
    }
    .board-view .info dl::before {
        display: none;
    }
    .board-view .info dt,
    .board-view .info dd {
        font-size: 1.2rem;
    }
    .board-write .title dt,
    .board-write .info dt {
        display: none;
    }
    .board-write .title dd,
    .board-write .info dd {
        width: 100%;
    }
    .board-write .title input[type="text"],
    .board-write .info input[type="text"],
    .board-write .info input[type="password"] {
        width: 100%;
    }
    .board-write .info dl {
        width: 49%;
    }
    .board-write .info dl:first-child {
        margin-right: 2%;
    }
    .board-write .info dd {
        width: 100%;
    }
}